 html,
    body {
        height: 100%;
        width: 100%;
    }
    body {
        margin: 0;
        color:#fff;
    }
    #map {

        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: auto;
        height: auto;
    }
    svg {
        position: relative;
    }
    path {
        fill: none;
        stroke-width: 4px;
    }

    path.true {
        stroke:#3366FF;
    }

    path.false {
        stroke:#990099;
        display:none;
    }

    #marker {
        fill: yellow;
    }

   
    .areaChart {
        position: absolute;
        bottom: 15px;
    }

    .axis path,
    .axis line {
          fill: none;
          stroke: #FFF;
          shape-rendering: crispEdges;
          stroke-width:1;
    }

    .axis text {
      stroke:white;
    }

    .area {
      fill: #3366FF;
    }

    .empty {
        fill: #000;
    }


    .navbar-inverse {
        background-color:#F1F100;
    }

    .overlay {
        position: relative;
        top: 50%;
        bottom: 0;
        height: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color:#333333;
 
    }

    .popup {
        position: relative;
        top: 50%;
        bottom: 0;
        height: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #333333;
        width: 60%%;
        z-index: 10;
        display:none;
    }

    .areaChartBox {
        position: absolute;
        bottom:38px;
        right:15px;
        left:15px;
        width:auto;
        height:140px;
    }

    .dateTimeBox {
        position: absolute;
        top: 65px;
        left: 15px;
        width: 300px;  
    }
     .legendBox {
        position: absolute;
        top: 220px;
        left: 15px;
        width: 300px;  
    }
     .newBox {
        position: absolute;
        top: 448px;
        left: 15px;
        width: 300px;  
    }

    .totalsBox {
        position: absolute;
        top: 65px;
        right: 15px;
        width: 300px;  
    }

    .totalsBox p {
        font-size: 20px;
        margin-bottom: 0;
    }

    .running {
        float:right;
    }

    .tolls {
        border-bottom: 1px solid #fff;
    }

    .box {
        background:rgba(0, 0, 0, 0.61);
        padding: 10px;
        box-sizing: border-box;
        border-radius: 6px;
        display:none;
    }

    .boxHeader {
        font-size:2em;
    }

    .startPoint {
        fill:rgba(84, 255, 84, 0.64);
    }

    .endPoint {
        fill:rgba(219, 62, 62, 0.79);
    }

    .time {

        font-size: 3em;
    }

    .readableTime {
        position: relative;
        top: -5px;
    }


    .date {
        font-size: 18px;
    }

    .passengerGlyphs .glyphicon {
        margin-right: 2px;
    }

    .passengerGlyphs {
        width: 170px;
        margin: 0 auto;
    }

    .markerLine {
        stroke:yellow;
    }

    .navbar-inverse .navbar-brand {
        color: #333;
    }

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
        color: #000;
    }

    .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
        color: #000;
    }

    .legendItem svg {
        height: 40px;
        width: 40px;
    }

    .legendItem p {
        display: inline-block;
        position: relative;
        top: -14px;
        left:10px;
    }
     .legendItem {
        height:32px;
     }

     li iframe {
        position: relative;
        top: 15px;
     }

     li .fb-like {
        position: relative;
        top: -14px;
     }

     li>div {
        padding:15px 15px;
        color: #777;
     }

     li>div:hover {
         color: #000;
        cursor:pointer; 
     }
      
     .panel-heading>.glyphicon {
        float:right;
        position:relative;
        top:-14px;
     }

     .panel-heading>.glyphicon:hover {
        cursor:pointer;
     }

     .mapbox-maplogo {
      position:absolute;
      display:block;
      height: 20px;
      width: 65px;
      left:10px;
      bottom:10px;
      text-indent: -9999px;
      z-index:99999;
      overflow:hidden;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIIAAAAoCAMAAAAFWtJHAAAAwFBMVEUAAAAAAAAAAABtbW0AAAAAAAAAAAAAAAAAAAAAAAClpaUAAADp6ekAAAD5+fna2toAAAAMDAzv7+/Nzc0AAAA2Njb8/Pz9/f3T09MAAAAAAAD7+/sAAAArKyuxsbH39/fs7OwbGxuIiIjz8/N8fHyenp7u7u74+PgAAAC8vLxWVlbx8fF1dXXl5eVcXFyUlJTQ0NDFxcVCQkLAwMC4uLj19fXo6OjW1tarq6ve3t77+/vi4uL6+vrKysrNzc3///8w7gSSAAAAP3RSTlMAOQNdPSYBPywKexLLGPCxNEHXnzFL+v2nGwf1IEiE6dBFad9jd9PuLo1V2mDDV3Cjl06SiuXIq4C3973ym6BQMVUPAAAEXElEQVR4Ae2WCVP6OBiH05L0l1IqrVbkKHJ54I0oHn+PfP9vtUle0z/YdhbH2XVnd58ZnRJIeHiPJOx//mH4vQSAN+8FjAhFxgHIaPvJeZ99hxwEElon5iAQbj85Y98g8ODwjEOMAvGFyeE3FEKgodTBqj0BJGN9DhyNd5Ta3ean9QEopfaA+LsKhnEKRExqg4FSP6Og7oEkAjBWnxSCgBX4xF+kcLoPcOBQrSv0e5kH7s1j37jECQieCTPiFGxL5VHw2zQWCeeJiPt6kjRQw0XSkIdVChf67xGa4alSnZlT6HEQ8CK9ANbhvXUF9xlDkBfTuHDWScgC9+z5FQpPI12TlwC6+sV7ixR8CUMKiwjm2GQeOQWHMGuHGdbnObJAwCEqFJpNU5H6uaPUaEIKiQfg+PHk1+u4OwW9PlWW2ctbA4BHCtp+cNK+H8Jos4gDmC5ar4Nx9waaG/2B13NgDqS7+vm2RgEtEws82P+kwIHhs/pgkQKcFIhfd7CogtGNjYMHTLpurD0ERbYFw4JaD3GlQuNAL/JEsSAF4HqlCnaHACk4WhOn4OgCkMD5hSpYNYDJTD8Y46n+jsE1kPhVCuR6QBXhFK7MUOu9O6b1SWF3b+/9ZVWMGOlu93E8UDaAhgc7bfH+0DHqKXCkHzoNDFfU+zxiVQrUC9QXTuHYtKpN59OA3IxCG4b7jh6ZFuVockaNTW09mkJzOaPU49a6mE9cAchZpQJNpUWcwgV9r6FJswsFKrITp2B5pMBMdnS0z2HZNy2+BNKxSZxZfglkrFYBJxQnpzA5sN/HheR2aFQoZBLAi149dQoyAYYjW0hHlHguBAdMcR0DuDZ5omevX6+AI8qcU7ikKT3GBHCnXwydgmCC0tRwCnGQ2Wp6Be71yNIWfQSkOl9vAI1SBCNWrwC01RROgX7BuT2HI4r7tFAw086p/NwZEdOEa7R1uAFuNmQPuKAEAjYNQ0CyeoUEWHYBnpQVQgpvc0Ph+gsKlAnKg1+vEHsw5LKciLKCAJobiWBzYFGbCKpHqkZZrxBFHEASyFI59vJPCskcwNVGOWZAOqsrR+pKbaNeAMT1CixMEtlnsqopNxUMzVJT3tY35aXZm6a6Y9QhwMN6BUJWbE1lhbMO1WehkO7poO0sK7em9MJGxp1XSbC1gtugzzSLQmGsX7VntJGSwsPZ2d2z3bIPKzdoOp3Wzqt8G4XyMVUoFIxLx1S7+piaHtCvR3FeRVsq0GFdp9C5TbGpcNqsPqyHKxcfd14h21KhuLKUFU4f3osrC7F6uV3WXFnadL7wyAPeKDXw2RoJCO5GY4DouYvb/gepVXheLoewzPseQG9N/vzilrMIjoStE3++zvle4eSurw7XEe76ynI4aq+v7lEyt1x5awiFlFLQbHKIpabnM3eJLym4Szzzc/du7SU+zOXv9UNpECH7IoH/gecURPlN9vdQpeD47yhIFNX0U0QgvID9nENm+yxk/xb+AGAjNfRZuk9qAAAAAElFTkSuQmCC);
      background-repeat:no-repeat;
      background-position: 0 0 ;
      background-size: 65px 20px;
    }
  
    p .label {
        position: relative;
        top: -2px;
    }