 html,
    body {
        height: 100%;
        width: 100%;
    }
    body {
        margin: 0;
        color:#fff;
    }
    #map {

        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: auto;
        height: auto;
    }
    svg {
        position: relative;
    }
    path {
        fill: none;
        stroke-width: 4px;
    }

    path.true {
        stroke:#3366FF;
    }

    path.false {
        stroke:#990099;
        display:none;
    }

    #marker {
        fill: yellow;
    }

   
    .areaChart {
        position: absolute;
        bottom: 15px;
    }

    .axis path,
    .axis line {
          fill: none;
          stroke: #FFF;
          shape-rendering: crispEdges;
          stroke-width:1;
    }

    .axis text {
      stroke:white;
    }

    .area {
      fill: #3366FF;
    }

    .empty {
        fill: rgba(165, 165, 70, 1);
    }


    .navbar-inverse {
        background-color:#FFFF2D;
    }

    .overlay {
        position: relative;
        top: 50%;
        bottom: 0;
        height: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color:#333333;
 
    }

    .overlay2 {

          top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: auto;
        height: auto;
        display:none;


    }

    .areaChartBox {
        position: absolute;
        bottom:15px;
        right:15px;
        left:15px;
        width:auto;
        height:140px;
    }

    .dateTimeBox {
        position: absolute;
        top: 65px;
        left: 15px;
        width: 300px;  
    }

    .totalsBox {
        position: absolute;
        top: 65px;
        right: 15px;
        width: 300px;  
    }

    .totalsBox p {
        font-size: 20px;
        margin-bottom: 0;
    }

    .running {
        float:right;
    }

    .tolls {
        border-bottom: 1px solid #fff;
    }

    .box {
        background:rgba(0, 0, 0, 0.61);
        padding: 10px;
        box-sizing: border-box;
        border-radius: 6px;
    }

    .boxHeader {
        font-size:2em;
    }

    .startPoint {
        fill:rgba(84, 255, 84, 0.64);
    }

    .endPoint {
        fill:rgba(219, 62, 62, 0.79);
    }

    .time {

        font-size: 3em;
    }

    .readableTime {
        position: relative;
        top: -5px;
    }


    .date {
        font-size: 18px;
    }

    .passengerGlyphs .glyphicon {
        margin-right: 2px;
    }

    .passengerGlyphs {
        width: 170px;
        margin: 0 auto;
    }

    .markerLine {
        stroke:yellow;
    }

    .navbar-inverse .navbar-brand {
        color: #333;
    }

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
        color: #000;
    }

    .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
        color: #000;
    }
